/*	// CSS Reset
	// https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/** || Core */

body {
  display: flex;
  font-family: Roboto, serif;
  --header-color: hsl(185, 14%, 17%);
  --projects-color: hsl(185, 14%, 47%);
  --todos-color: hsl(167, 27%, 69%);
  --standard-padding: 15px;
  font-size: 18px;
}

h2 {
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: 1px;
  padding: var(--standard-padding);
}

ul {
  list-style: none;
  padding: 0;
}

/** || Header */

header {
  background-color: var(--header-color);
  color: var(--projects-color);
  height: 100vh;
  width:60px;
  position: relative;
  display: flex;
}

header h1 {
  position: fixed;
  bottom: 0;
  left: 0;
  writing-mode: vertical-lr;
  rotate: 180deg;
  margin-bottom: var(--standard-padding);
}

/** || Projects list  */

.project-section {
  background-color: var(--projects-color);
  box-shadow: 10px 0 5px -2px #888;
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.add-div {
  background-color: white;
  opacity: .5;
  display: flex;
  flex-direction: row-reverse;
}

.add-div:focus-within {
  opacity: .8;
}

.add-div input[type="button"] {
  width: 40px;
  background: transparent;
  border: 0;
  text-indent: -2000px;
  outline: 0;
  background: no-repeat center/70% url(img/plus-circle.svg);
}

.add-div input[type="text"] {
  background-color: inherit;
  border: 0;
  flex: 1;
  font-family: inherit;
  font-weight: bold;
  padding: var(--standard-padding);
  outline: 0;
}

#projects li {
  border: 1px solid var(--todos-color);
  border-width: 1px 0 0;
  display: flex;
  flex-direction: row-reverse;
}

.selected {
  background-color: var(--todos-color);
}

.project-button {
  border: 0;
  background-color: inherit;
  color: white;
  flex: 1;
  outline: 0;
  padding: var(--standard-padding);
  text-align: right;
}

.selected .project-button {
  background-color: var(--todos-color);
  color: var(--header-color);
  font-weight: bold;
}

.delete {
  background-color: inherit;
  background: no-repeat center/40% url(img/delete.svg);
  border: 0;
  text-indent: -2000px;
  opacity: .5;
  width: 40px;
}

/** || Todo list  */

.todo-section {
  background-color: var(--todos-color);
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: end;
}